/**-----------------------**/
/**   SECTCION   FOOTER    */
/**-----------------------**/
footer {
	background: #aeacac;
	color: rgb(10, 9, 9);
	font-size: x-large;
	text-align: center;
	padding: 20px;
}
