/**-----------------------**/
/**  SECTCION  NAVBAR     **/
/**-----------------------**/

.navbar-expand-lg {
	background-color: rgba(255, 255, 255, 0.382);
	position: fixed;
	max-height: 100px;
	width: 100%;
	justify-content: center;
	z-index: 1;
}

.nav__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	max-width: 1400px;

	color: #fff;
}
.nav__menu {
	display: grid;
	grid-auto-flow: column;
	gap: 1rem;
}
#logo_lonera {
	margin-left: 0px;
	align-items: center;
}

:root {
	--text-color: #314cad;
	--transition-duration: 0.3s;
	--transition-delay: 0.2s;
}

ul {
	display: flex;
	justify-content: space-around;
	list-style: none;
	padding: 0px;
}

a {
	color: black;
	font-size: 25px;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	text-decoration: none;
}

.navbar-nav {
	display: flex;
	align-items: center;
}

.menu a {
	position: relative;
	display: flex;
	padding: 10px;
}

.menu .border {
	position: absolute;
	left: 0;
	background: currentColor;
	transition: transform var (--transition-duration) ease-in-out;
}

.menu .border-top,
.menu .border-bottom {
	width: 100%;
	height: 1px;
	transform: scaleX(0);
}

.menu .border-left,
.menu .border-right {
	width: 1px;
	height: 100%;
	transform: scaleY(0);
}

.menu .border-top,
.menu .border-left,
.menu .border-right {
	top: 0;
}

.menu .border-bottom {
	bottom: 0;
	transform-origin: bottom right;
}

.menu .border-top {
	transform-origin: top left;
}

.menu .border-left {
	transform-origin: bottom left;
}

.menu .border-right {
	left: auto;
	right: 0;
	transform-origin: top right;
}

.menu a:hover .border-top,
.menu a:hover .border-bottom {
	transform: scaleX(1);
}

.menu a:hover .border-left,
.menu a:hover .border-right {
	transform: scaleY(1);
}

.menu a:hover .border-right {
	transition-delay: var(--transition-delay);
}

.menu a:hover .border-bottom {
	transition-delay: calc(var(--transition-delay) * 2);
}

.menu a:hover .border-left {
	transition-delay: calc(var(--transition-delay) * 3);
}

/**-----------------------**/
/**  Media Querys         **/
/**-----------------------**/

@media (max-width: 992px) {
	.navbar-expand-lg .navbar-collapse {
		display: flex !important;
		flex-basis: auto;
		justify-content: flex-end;
	}
	.menu {
		display: none;
	}
}

.nav {
	position: fixed;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 20px;
	transition: all 0.5s ease;
	background: rgb(80, 98, 131);
	height: 50px;
	color: #fff;
	z-index: 100;
}
.nav__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	height: 100%;
	width: 90%;
	color: #fff;
}
.nav__logo {
	font-size: 1.5rem;
	font-weight: 900;
	color: rgb(40, 216, 40);
}
.nav__menu {
	display: grid;
	grid-auto-flow: column;
	gap: 1.5rem;
}
.nav__item {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0.5rem;
	border-radius: 0.5rem;
	transition: all 0.5s ease;
}

.nav__item:hover {
	background: none;
	color: rgb(40, 216, 40);
}
.nav__input:checked + .nav__menu {
	background: #5a5a5a;
}
.nav__label,
.nav__input {
	display: none;
}
nav.active {
	background-color: #4066e28c;
	padding: 6px;
}
nav.active a {
	color: #f7f6f6;
}

/**-----------------------**/
/**  Media Querys NavBar  **/
/**-----------------------**/
@media (max-width: 700px) {
	.nav__label {
		display: block;
		cursor: pointer;
	}
	.nav__menu {
		position: fixed;
		top: 80px;
		bottom: 0;
		background: #8e7f7f;
		width: 100%;
		left: 0;
		display: flex;
		justify-content: space-evenly;
		flex-direction: column;
		align-items: center;
		clip-path: circle(0 at center);
		transition: clip-path 0.5s ease-in-out;
	}
	.nav__input:checked + .nav__menu {
		clip-path: circle(100% at center);
	}
}
