body {
	background-color: #000;
	color: #fff;
	font-family: "Dosis", sans-serif;
	font-size: 30px;
	line-height: 1.5;
	text-align: center;
	padding-top: 30px;
}

.logo {
	display: block;
	margin: 0 auto;
	padding: 0;
	text-align: center;
}
